[alias]
	s = status
	co = checkout
	br = branch
	ci = commit
	cane = commit --amend --no-edit
	lo = log --oneline -n 10
	a = add .
	cm = commit -m
	publish = !git push --set-upstream origin `git branch --show-current`
[user]
	name = Dylan Ling
	email = dylan.t.ling@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[pager]
	branch = false
	lo = false